nav.navbar.navbar-expand-lg.navbar-light.bg-light
  .container
    a.navbar-brand(href="#") School App
    button.navbar-toggler(type="button", data-bs-toggle="collapse", data-bs-target="#navbarSupportedContent", aria-controls="navbarSupportedContent", aria-expanded="false", aria-label="Toggle navigation")
      span.navbar-toggler-icon
    #navbarSupportedContent.collapse.navbar-collapse
      ul.navbar-nav.ms-auto
        li.nav-item
          a.nav-link(href="/alumnos") Alumnos
        li.nav-item
          a.nav-link(href="/cursos") Cursos
